{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('styles/post.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>
    <div id="conseil-mots"></div>
    {% if posts|length <= 0 %}
        <h2 id="number-of-post"></h2>
    {% else %}
        <h2 id="number-of-post">{{ posts|length }} Posts found.</h2>
    {% endif %}
    {% for post in posts %}
        <div>
            <div>
                <img src="../../assets/img/gitlogo.png">
            </div>
            <div>{{ post.id }}</div>
            <div>{{ post.titre }}</div>
            <div>{{ post.Description }}</div>
            <div>
                <a href="{{ path('app_post_show', {'id': post.id}) }}">show</a>
                <a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>
            </div>
        </div>
    {% else %}
        <div>
            <div colspan="4">no records found</div>
        </div>
    {% endfor %}

    <a href="{{ path('app_post_new') }}">Create new</a>


    
<script>
document.addEventListener("DOMContentLoaded", (event) => {

    /**
    * Permet de faire le système de résultats
    */
    const randomNumberPost = Math.floor(Math.random() * 1000000000) + 10000;
    var randomNumberSeconds = Math.random()
    randomNumberSeconds = randomNumberSeconds.toFixed(2);
    document.getElementById('number-of-post').innerHTML ="Environ "+ randomNumberPost +" résultats ("+randomNumberSeconds+" secondes)"

});

/**
 * Permet d'avoir des mots random
 */
    fetch("https://trouve-mot.fr/api/categorie/22/5")
        .then((response) => response.json())
        .then((words) => {
            console.log(words.length);
            for(let i = 0; i < words.length; i++){
                const word = words[i].name
                const divWord = document.createElement('div')
                divWord.classList.add('word')
                divWord.innerHTML = word
                document.getElementById('conseil-mots').appendChild(divWord)
            }
        });
</script>
{% endblock %}

